<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chrome.png</key>
	<string>ea9b13faff65b8eaca0b05e8fe77a15581080ca166fdf3a7f7485e70863f2fab</string>
	<key>Firefox.png</key>
	<string>ea497e0f26fdef83b1021d09db7740247e976745382aa2dffab589763b7902f5</string>
	<key>VLC media player.png</key>
	<string>583b782d3139e93d45d9b984cc7c766c60181bd3cc1420bc4d054b2c2984ea1d</string>
</dict>
</plist>
